.tableHeader {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;

  width: 165px;
  height: 86px;
  padding: 14px;

  font-size: 14px;
  font-weight: bold;

  border-color: #f3f9ff;
  border-style: solid;
  border-width: 2px 0 2px 2px;
}

.gridCell {
  box-sizing: border-box;
  padding: 8px;
}

.even {
  background-color: #f3f9ff;
}

.odd {
  background-color: #fff;
}

.icon {
  margin-right: 10px;
}

.statusCell {
  display: flex;
  align-items: center;
}

.active {
  color: #009581;
}

.inactive {
  color: #ff003d;
}
