.header {
  position: relative;
  z-index: 5;

  height: 88px;
  padding: 20px 10px;

  background: linear-gradient(270.12deg, #dcf5fb 0%, #e1edfe 50.52%, #d6ffe9 100%);
}

.logoCompany {
  margin-left: 16px;

  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;

  /* Grey/Black | Complex */
  color: #212125;
}

.logoAndIcon {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1720px;
  margin: 0 auto;
}

.buttonIcon {
  cursor: pointer;
  margin: 0 8px;
  background: transparent;
  border: none;
}

.profileIcon {
  padding: 12px;
  background: #fff;
  border-radius: 50%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
