.tableHeader {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-weight: bold;
}

.grid {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 100%;
  height: 88vh;

  border: #6c6f7c 1px solid;
}

.gridCell {
  box-sizing: border-box;
  padding: 8px;
}
