.tableHeader {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-weight: bold;
}

.grid {
  width: 100%;
}

.gridCell {
  box-sizing: border-box;
  padding: 8px;
}
