.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.tableRow {
  border-bottom: 1px solid black;
}

.employed {
  background: black;
}

.notActive {
  background: black;
}

.active {
  background: black;
}

.tableCell {
  padding: 10px 20px 10px 0;
}
